In [1]:
import pandas as pd
df = pd.read_csv("./titanic/train.csv")

In [14]:
for column in df:
    print(column, ": ",df[column].isnull().sum())

PassengerId :  0
Survived :  0
Pclass :  0
Name :  0
Sex :  0
Age :  0
SibSp :  0
Parch :  0
Ticket :  0
Fare :  0
Embarked :  0

In [4]:
df["Age"].fillna(df["Age"].median(), inplace=True)

In [7]:
print(df["Embarked"].value_counts())

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [8]:
df["Embarked"].fillna("S", inplace=True)

In [13]:
del df["Cabin"]