In [1]:
import pandas as pd
df = pd.read_csv('./titanic/train.csv')

In [4]:
df["Name"].sample(20)

779    Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
248                        Beckwith, Mr. Richard Leonard
881                                   Markun, Mr. Johann
134                       Sobey, Mr. Samuel James Hayden
523      Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
45                              Rogers, Mr. William John
882                         Dahlberg, Miss. Gerda Ulrika
211                           Cameron, Miss. Clear Annie
220                       Sunderland, Mr. Victor Francis
318                             Wick, Miss. Mary Natalie
688                      Fischer, Mr. Eberhard Thelander
170                            Van der hoef, Mr. Wyckoff
54                        Ostby, Mr. Engelhart Cornelius
850              Andersson, Master. Sigvard Harald Elias
327                              Ball, Mrs. (Ada E Hall)
344                              Fox, Mr. Stanley Hubert
5                                       Moran, Mr. James
649                      Stanley, Miss. Amy Zillah Elsie
33                                 Wheadon, Mr. Edward H
798                         Ibrahim Shawah, Mr. Yousseff
Name: Name, dtype: object

In [8]:
def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return "No title in name"

In [11]:
titles = set([x for x in df.Name.map(lambda x: get_title(x))])

In [12]:
print(titles)

{'Don', 'Ms', 'Col', 'Rev', 'Mme', 'Master', 'Mlle', 'Miss', 'Capt', 'Jonkheer', 'Dr', 'Mr', 'Sir', 'the Countess', 'Major', 'Lady', 'Mrs'}

In [17]:
def short_titles(x):
    title = x["Title"]
    if title in ['Capt', 'Col', 'Major']:
        return 'Oficcer'
    elif title in ["Jonkheer", "Don", "The Countees", "Dona", "Lady", "Sir"]:
        return "Royalty"
    elif title == "Mme":
        return "Mrs"
    elif title in ["Mlle", "Ms"]:
        return "Miss"
    else:
        return title

In [18]:
df["Title"] = df["Name"].map(lambda x : get_title(x))

In [19]:
df["Title"] = df.apply(short_titles, axis=1)

In [31]:
print(df.Title.value_counts())

Mr              517
Miss            185
Mrs             126
Master           40
Dr                7
Rev               6
Oficcer           5
Royalty           4
the Countess      1
Name: Title, dtype: int64

In [35]:
df.drop('Cabin', axis=1, inplace=True)

In [54]:
df.sample(20)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title
665,666,0,2,0,32.00,2,0,73.5000,0.0,0
755,756,1,2,0,0.67,1,1,14.5000,0.0,2
181,182,0,2,0,NaN,0,0,15.0500,1.0,0
693,694,0,3,0,25.00,0,0,7.2250,1.0,0
594,595,0,2,0,37.00,1,0,26.0000,0.0,0
727,728,1,3,1,NaN,0,0,7.7375,2.0,1
101,102,0,3,0,NaN,0,0,7.8958,0.0,0
720,721,1,2,1,6.00,0,1,33.0000,0.0,1
708,709,1,1,1,22.00,0,0,151.5500,0.0,1
461,462,0,3,0,34.00,0,0,8.0500,0.0,0
816,817,0,3,1,23.00,0,0,7.9250,0.0,1
280,281,0,3,0,65.00,0,0,7.7500,2.0,0
383,384,1,1,1,35.00,1,0,52.0000,0.0,7
36,37,1,3,0,NaN,0,0,7.2292,1.0,0
148,149,0,2,0,36.50,0,2,26.0000,0.0,0
298,299,1,1,0,NaN,0,0,30.5000,0.0,0
173,174,0,3,0,21.00,0,0,7.9250,0.0,0
273,274,0,1,0,37.00,0,1,29.7000,1.0,0
705,706,0,2,0,39.00,0,0,26.0000,0.0,0
318,319,1,1,1,31.00,0,2,164.8667,0.0,1

In [53]:
df.Embarked.replace(('S','C','Q'), (0,1,2), inplace=True)